.layout {
  display: flex;
  min-height: 100vh;
}

:host ::ng-deep .p-menu {
  background: #EEF3EE;
  border: none;
}

.sidebar {
  width: 220px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  background: #EEF3EE;
  border-right: 1px solid #ECECEC;
}

.sidebar-header {
  height: 72px;

  display: flex;
  align-items: center;

  padding: 0 30px;
}

.logo {
  width: 100px;
  height: auto;
}

.main {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 0;
}

.content {
  flex: 1;
  background: #fff;
}